body {
  background: rgb(113, 178, 128);
  background: radial-gradient(
    circle,
    rgba(113, 178, 128, 1) 0%,
    rgba(19, 78, 94, 1) 100%
  );
}

.spinner {
  margin-left: 45%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.limitList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 15px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #dc8644;
  padding: 2rem;
}

.border,
.list,
.mealList {
  margin: 2rem;
  -webkit-box-shadow: 2px 3px 73px 8px rgba(255, 255, 255, 0.62);
  -moz-box-shadow: 2px 3px 73px 8px rgba(255, 255, 255, 0.62);
  box-shadow: 2px 3px 73px 8px rgba(255, 255, 255, 0.62);
}

.mealTitle {
  color: #f06e16;
  text-transform: uppercase;
  font-size: 23px;
}

.listDetails {
  background-color: #dc8644;
  padding: 2rem;
}

ul {
  text-align: start;
  justify-items: baseline;
  background-color: #ffff;
  margin: 1rem 0 0 0;
  padding: 2rem;
  height: 90%;
}

li {
  padding-top: 0.5rem;
}

.price,
.noAvailableMeals {
  color: #f06e16;
  font-weight: 700;
}

.price {
  text-transform: uppercase;
}

.mealList {
  margin: 1rem;
}

.mealId {
  background-color: #134e5e;
  color: #ffff;
  opacity: 80%;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 15px;
}

.buttons {
  margin-left: 2rem;
}

.noAvailableMeals {
  background-color: #ffff;
  padding: 0.5rem;
  border: 3px solid #f06e16;
}
