body {
  background: rgb(113, 178, 128);
  background: radial-gradient(
    circle,
    rgba(113, 178, 128, 1) 0%,
    rgba(19, 78, 94, 1) 100%
  );
}

.spinner {
  margin-left: 45%;
  margin-top: 15%;
  margin-bottom: 30%;
}

.limitList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #dc8644;
  margin: 1rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #dc8644;
  padding: 2rem;
  margin: 2rem;
}

.border,
.list,
.mealList,
.container {
  -webkit-box-shadow: 2px 3px 73px 8px rgba(255, 255, 255, 0.62);
  -moz-box-shadow: 2px 3px 73px 8px rgba(255, 255, 255, 0.62);
  box-shadow: 2px 3px 73px 8px rgba(255, 255, 255, 0.62);
}

.mealTitle {
  color: #f06e16;
  text-transform: uppercase;
  font-size: 23px;
}

.listDetails {
  background-color: #dc8644;
  padding: 2rem;
}

ul {
  text-align: start;
  justify-items: baseline;
  background-color: #ffff;
  padding: 1rem;
  height: 90%;
}

li {
  padding-top: 0.3rem;
}

.price,
.noAvailableMeals {
  color: #134e5e;
  font-weight: 700;
}

.price {
  text-transform: uppercase;
}

.mealList {
  margin: 1rem;
  font-size: 17px;
  font-weight: 800;
}

.mealId {
  background-color: #134e5e;
  color: #ffff;
  opacity: 80%;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 15px;
}

.buttons,
.container {
  margin: 2rem;
}

.noAvailableMeals {
  background-color: #ffff;
  padding: 0.5rem;
  border: 3px #134e5e solid;
}

.availableLeft {
  color: #f06e16;
}

.noMealFound {
  text-align: center;
  color: #ffff;
  padding: 5rem;
  margin-bottom: 25%;
}

.filter {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem #ffff solid;
  border-top: 0.2rem #ffff solid;
  margin: 2rem;
  padding: 1rem;
}

.input {
  margin-left: 2rem;
  width: 20rem;
  border: 0.2rem #dc8644 solid;
}

.input:focus {
  background-color: #f06e16;
  color: #ffff;
  font-weight: 700;
}

.input:focus::placeholder {
  color: #ffff;
}

.select {
  margin-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2rem;
  border: 0.2rem #dc8644 solid;
}

.detailsBlock {
  display: flex;
  margin: 2rem;
  background-color: #ffff;
}
.detailsBlock img {
  width: 20rem;
  height: 20rem;
  margin-top: 6rem;
}

.border {
  height: 23rem;
  margin: 2rem;
}

.border > li {
  margin-top: 1rem;
}

.pizzaImgSmall {
  width: 40%;
  height: auto;
  border: #ffff solid 2rem;
}

@media screen and (max-width: 1000px) {
  .limitList,
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
  }

  .detailsBlock {
    display: grid;
    background-color: #ffff;
  }
}
