@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "theme.css";
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
}

#root {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 17px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
}

button {
  background-color: #134e5e;
  opacity: 80%;
  border-radius: 8px;
  border-width: 0px;
  font-weight: 295;
  border: 3px solid #134e5e;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
}

button:hover {
  background-color: #ffff;
  color: #134e5e;
  border: 3px solid #134e5e;
}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}
